@import "@base";
@import "@mixins";

.dropdown {
  position: relative;
  display: flex;
  flex-direction: column;
  width: inherit;
  background: $mainBackground;
  cursor: pointer;

  &__input {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: inherit;
    height: 44px;
    padding: 0 9px 4px 14px;
    font-family: $mainFont;
    background-color: $mainBackground;
    border: 1px solid $textColor_25;
    border-radius: 4px;

    &:hover {
      border: 1px solid $textColor_50;
    }

    &-placeholder {
      color: $textColor_75;
      font-size: 14px;
    }

    &-arrow {
      color: $textColor_50;
    }
  }

  &__open &__drop {
    display: flex;
    border: 1px solid $textColor_50;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  &__open &__input {
    border-top: 1px solid $textColor_50;
    border-right: 1px solid $textColor_50;
    border-bottom: none;
    border-left: 1px solid $textColor_50;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  &__drop {
    position: absolute;
    top: 44px;
    z-index: 5;
    display: none;
    flex-direction: column;
    min-width: 100%;
    max-width: 100%;
    font-family: $mainFont;
    background-color: $mainBackground;
    border: 1px solid $textColor_25;
    border-radius: 4px;
    cursor: default;

    &-items {
      padding-bottom: 7px;
      font-size: 15px;
      line-height: 18px;
    }

    &-item {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      height: 37px;
      padding-right: 7px;
      padding-left: 13px;
      list-style-type: none;
    }

    &-name {
      @include font-h3;

      color: $textColor;
    }

    &-counter {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 92px;
      transition: 0.7s;

      &-result {
        padding: 0 7px;
        color: $textColor;
        cursor: default;
        transition: 0.7s;
        @include font-h3;
      }

      &-minus,
      &-plus {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        color: $textColor_50;
        border: 1px solid $textColor_50;
        border-radius: 50%;
        transition: 0.7s;

        &:hover {
          background: $elementColor;
          cursor: pointer;
          transition: 0.7s;
        }
      }

      &-not-available {
        color: $textColor_25;
        border: 1px solid $textColor_25;
        transition: 0.7s;
      }
    }

    &-buttons {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: inherit;
      height: 37px;
      padding-right: 7px;
      padding-bottom: 4px;
      padding-left: 15px;
      color: $elementColor;
      font-weight: 700;
      font-size: 1rem;
      font-family: $mainFont;
      letter-spacing: -0.2px;
      cursor: default;
      transition: 0.7s;

      &--right {
        justify-content: end;
      }

      &-clear {
        cursor: pointer;
      }

      &-accept {
        cursor: pointer;
      }

      &-clear--hide {
        display: none;
      }
    }
  }
}
