@import '@base';

.dropdown{
  position: relative;
  background: $mainBackground;
  display: flex;
  flex-direction: column;
  width: inherit;
  cursor: pointer;


  &__input{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: inherit;
    height: 44px;
    padding: 0px 9px 4px 14px;
    background-color: $mainBackground;
    border: 1px solid $textColor_25;
    border-radius: 4px;
    font-family: $mainFont;
    
    &:hover{
      border: 1px solid $textColor_50;
    }

    &-placeholder{
      font-size: 14px;
      color: $textColor_75;
    }

    &-arrow{
      color: $textColor_50;
    }
  }

  &__open .dropdown__drop{
    display: flex;
    border-bottom: none;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    border: 1px solid $textColor_50;
  }

  &__open .dropdown__input{
    border: 1px solid $textColor_50;
    border-bottom: none;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
  }
  &__drop{
    position: absolute;
    display: none;
    flex-direction: column;
    background-color: $mainBackground;
    border: 1px solid $textColor_25;
    border-radius: 4px;
    font-family: $mainFont;
    cursor: default;
    min-width: 100%;
    max-width: 100%;
    top: 44px;
    z-index: 5;

    &-items{
      padding-bottom: 7px;
      font-size: 15px;
      line-height: 18px;
    }

    &-item{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      height: 37px;
      padding-left: 13px;
      padding-right: 7px;
      list-style-type: none;    
    }

    &-name{
      font-family: $mainFont;
      font-weight: 700;
      color: $textColor;
      letter-spacing: -0.4px;
    }

    &-counter{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 92px;
      transition: 0.7s;

      &-result{
        padding: 0 7px 0 7px;
        color: $textColor;
        font-family: $mainFont;
        font-weight: 700;
        cursor: default;
        transition: 0.7s;
      }

      &-minus,
      &-plus{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        color: $textColor_50;
        border: 1px solid $textColor_50;
        border-radius: 50%;     
        transition: 0.7s; 
        
        &:hover{
          background: $elementColor;
          transition: 0.7s;
          cursor: pointer;
        }
      }
      &-not-available{
        border: 1px solid $textColor_25;
        color: $textColor_25;
        transition: 0.7s;
      }
    }

    &-buttons{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: inherit;
      height: 37px;
      padding-left: 15px;
      padding-right: 7px;
      padding-bottom: 4px;
      color: $elementColor;
      font-family: $mainFont;
      font-weight: 700;
      font-size: 14px;
      cursor: default;
      transition: 0.7s;
      letter-spacing: -0.2px;
      
      &--right{
        justify-content: end;
      }
      &-clear{
        cursor: pointer;
      }
      &-accept{
        cursor: pointer;
      }
      &-clear--hide{
        display: none;
      }
    }
  }
}
