@import '@base';

.card-room{
  width: 270px;
  display: flex;
  flex-direction: column;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background: $mainBackground;

  &__description {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    background: inherit;
  }
  &__carousel{
    width: 270px;
    height: 150px;
    margin-bottom: 21px;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    background: inherit;
  }

  &__number-price{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  &__line{
    border-bottom: 1px solid rgba(31, 32, 65, 0.1);
    margin-bottom: 8px;
  }

  &__about{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__review{
    display: flex;
    flex-direction: row;

    &-number{
      font-family: $mainFont;
      font-style: normal;
      font-weight: 700;
      font-size: $mainFont_size;
      line-height: 18px;
      color: $textColor_50;
    }
    
    &-text{
      font-family: $mainFont;
      font-style: normal;
      font-weight: 400;
      font-size: $mainFont_size;
      line-height: 18px;
      color: $textColor_50;

    }
  }
}
