@import "@base";
@import "@mixins";

.paginationjs {
  display: flex;
  flex-direction: column;
  @include font-body;

  line-height: 14px;

  & .paginationjs-pages li {
    border: none;
  }

  & .paginationjs-pages li > a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    color: $textColor_50;
    font-size: 14px;
    background: $mainBackground;
  }
}

.paginationjs-nav.J-paginationjs-nav {
  margin-left: 4px;
}

.paginationjs-next > a > span {
  color: $mainBackground;
  line-height: 40px;
}

.paginationjs-pages {
  padding-bottom: 4px;
}

.paginationjs .paginationjs-pages li > a:hover {
  background: $textColor_25;
  border-radius: 50%;
}

.paginationjs .paginationjs-pages li.active > a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  color: $mainBackground;
  font-weight: 700;
  background: $btnGradient;
  border-radius: 50%;
}

.paginationjs .paginationjs-pages li:first-child,
.paginationjs .paginationjs-pages li:first-child > a {
  border-radius: 50%;
  cursor: pointer;
}

.paginationjs .paginationjs-pages li:last-child {
  border: none;
  border-radius: 22px;
}

.paginationjs .paginationjs-pages li:last-child > a {
  font-weight: 700;
  background: $elementGradient;
  border-radius: 50%;
}

.paginationjs-nav {
  margin-left: 6px;
  font-weight: 400;
  font-size: 14px;
  font-family: $mainFont;
  font-style: normal;
  line-height: 14px;
}
