mixin pagination(properties = {})
  -
    const {
      entries = 0,
      pages = 0,
    } = properties 

    const dataProperties = JSON.stringify(properties)

  section
    .pagination(data-properties = dataProperties )