@import '@base';

.paginationjs-pages{
  font-family: $mainFont;
  font-style : normal;
  font-weight: 400;
  font-size  : 14px;
  line-height: 14px;
}

.paginationjs-nav {
  font-family: $mainFont;
  font-style : normal;
  font-weight: 400;
  font-size  : 14px;
  line-height: 14px;
}