mixin rate-button(properties = {})

  - 
    const {
      changable = false,
      maxRate = 5,
      selectedRate = 0,
    } = properties

    const dataProperties = JSON.stringify(properties)

  .rate-button.rate-button-js(data-properties = dataProperties) 
    - for (let i = 1; i < maxRate + 1; i++)
        if (selectedRate < i)
          .rate-button__star.material-icons= 'star_border'
        else 
          .rate-button__star.material-icons= 'star'
