
extends ../../layouts/ui-kit-layout
include ../../components/dignity/dignity.pug
include ../../components/heading/heading.pug
include ../../components/review/review.pug
include ../../components/chart/chart.pug
include ../../components/bullet-items/bullet-items.pug
include ../../components/card-room-booking/card-room-booking.pug

block variables
  - const pageTitle = "Room details"
  - const bodyProperties = "background: white"

block content
  .room-details
    .room-details__wrapper
      main.room-details__main
        .room-details__gallery
          img&attributes({
            class: "room-details__gallery-photo-item",
            src: require("./images/room-details.jpg"),
            alt: "room photo",
          })
          .room-details__gallery-inside
            img&attributes({
              class: "room-details__gallery-photo-item",
              src: require("./images/room-details1.jpg"),
              alt: "room photo",
            })
            img&attributes({
              class: "room-details__gallery-photo-item",
              src: require("./images/room-details2.jpg"),
              alt: "room photo",
            })
        .room-details__description
          .room-details__description-info
            .room-details__description-info-about 
              .room-details__description-info-about-markers
                .room-details--padding-bottom
                  +heading({ 
                    level: "h2", 
                    title: "Сведения о номере",
                  })
                +dignity({
                  materialIconsCode: "insert_emoticon",
                  title: "Комфорт",
                  description: "Шумопоглощающие стены",
                })
                +dignity({
                  materialIconsCode: "location_city",
                  title: "Удобство",
                  description: "Окно в каждой из спален",
                })
                +dignity({
                  materialIconsCode: "local_fire_department",
                  title: "Уют",
                  description: "Номер оснащён камином",
                  hasSubline: false,
                })
              .room-details__description-info-about-impression
                .room-details--padding-bottom
                  +heading({ 
                    level: "h2", 
                    title: "Впечатления от номера",
                  })
                +chart({
                  totalNumber: 260,
                  width: 120,
                  height: 120,
                  radius: 60,
                  cutout: '89%',
                  itemList: [
                    {name: 'Разочарован', data: 0, bg: ['#919191', '#3d4975'], bgBorder: '#FFFFFF'},
                    {name: 'Удовлетворительно', data: 25, bg: ['#BC9CFF', '#8BA4F9'], bgBorder: '#FFFFFF'},
                    {name: 'Хорошо', data: 25, bg: ['#6FCF97', '#66D2EA'], bgBorder: '#FFFFFF'},
                    {name: 'Великолепно', data: 50, bg: ['#FFE39C', '#FFBA9C'], bgBorder: '#FFFFFF'},
                  ],
                })
            .room-details__description-info-review
              .room-details--padding-bottom
                +heading({ 
                  level: "h2", 
                  title: "Отзывы посетителей номера",
                  description: "2 отзыва" 
                })
              .room-details__description-info-review-container
                +review({
                  jpgSrc: "murad_sarafanov",
                  numberLikeButton: 12,   
                  checkedLikeButton: "checked",  
                  idLikeButton: "feedback-like-button", 
                  nameLikeButton: "feedback-like-button", 
                  typeLikeButton: "checkbox",
                  namePerson: "Мурад Сарафанов",
                  statusPerson: "5 дней назад",
                  description: "Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.",
                })
                +review({
                  jpgSrc: "image2",
                  numberLikeButton: 2,  
                  idLikeButton: "feedback-like-button", 
                  nameLikeButton: "feedback-like-button", 
                  typeLikeButton: "checkbox",
                  namePerson: "Патрисия Стёклышкова",
                  statusPerson: "Неделю назад",
                  description: "Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое блюдо и десерт как комплимент",
                })
            .room-details__description-info-rules
              .room-details__description-info-rules-bullet
                .room-details--padding-bottom.room-details--padding-left
                  +heading({ 
                    level: "h2", 
                    title: "Правила",
                  })
                .room-details__description-info-rules-bullet--wrapper
                  +bullet-items({
                    listItems: [
                      { title: "Нельзя с питомцами"},
                      { title: "Без вечеринок и мероприятий"},
                      { title: "Время прибытия — после 13:00, а\u00A0выезд до 12:00"},
                    ]
                  })
              .room-details__description-info-rules-cancel
                .room-details--padding-bottom
                  +heading({ 
                    level: "h2", 
                    title: "Отмена",
                  })
                p.room-details__description-info-rules-cancel-procedure Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги.

          .room-details__booking
            +card-room-booking({
              roomNumbers: {
                symbol: "№",
                number: 888,
                text: "ЛЮКС",
              },
              roomPrice: {
                price: "9 999",
                currency: "₽",
                text: "в сутки",
              },
              dateDropdown: {
                id: "card-room-booking-date-dropdown",
                type:"text",
                hasTwoInputs: true,
                hasArrow: true,
                inline: true,
                dateFormat: "dd.MM.yyyy",
                startTitle: "Прибытие",
                endTitle: "Выезд",
                placeholderStart: "19.08.2019",
                placeholderEnd: "19.08.2019",
                name: "date",
                startDate: "08.10.2019",
                endDate: "08.19.2019",
                withMask: true
              },
              headingDropdown: {
                level: "h3", 
                title: "Гости", 
              },
              dropdown: {
                id: "card-room-booking-dropdown",
                isOpen: false,
                hasButtons: true,
                type: "not-guests",
                placeholder: "Сколько гостей",
                maxCount: 10,
                elements: [
                  { title: "Взрослые", id: "adult", startCount: 3 }, 
                  { title: "Дети", id: "kids", startCount: 0 }, 
                  { title: "Младенцы", id: "baby", startCount: 0 }
                ],
                plurals: {
                  adult: "Взрослый, Взрослых, Взрослых",
                  kids: "Ребенок, Ребенка, Детей",
                  baby: "Младенец, Младенца, Младенцев",
                  },
              },
              priceList: {
                elements: [
                  { title: "9 990₽ х 4 суток", price: "39 960₽" }, 
                  { title: "Сбор за услуги: скидка 2 179₽", hasInfoButton: true, price: "0₽" }, 
                  { title: "Сбор за дополнительные услуги", hasInfoButton: true, price: "300₽" }, 
                ]
              },
              priceResult: {
                title: "Итого",
                between: "........................................................",
                price: "38 081₽",
              },
              button: {
                  buttonName: "Забронировать",
                  buttonType: "ButtonDefault",
                  size: "large",
                  hasArrow: true,
              }
            })