@import '@base';
@import '@mixins';

.review{
  display: flex;
  flex-direction: column;
  font-family: $mainFont;
  padding-left: 3px;

  &__data{
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;

    &-photo{
      width: 45px;
      height: 45px;
      border-radius: 50%;
    }

    &-info{
      display: flex;
      flex-direction: column;
      padding-left: 10px;
      line-height: 24px;

      &-name{
        font-size: 14px;
        font-weight: 700;
        color: $textColor;
      }

      &-status{
        font-size: 14px;
        font-weight: 400;
        color: $textColor_75;
      }
    }
  }

  &__feedback{
    display: flex;
    flex-direction: row;

    &-like{
      padding-top: 1px;
    }

    &-description{
      max-width: 653px;
      margin-left: 15px;
      @include font-body;
      color: $textColor_75;
    }
  }
}