@import '@base';

.landing-page{

  &__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 320px;
    max-width: 1158px;
    margin: 0 auto;
  }

  &__header{
    display: flex;
    justify-content: center;
    width: 100vw;
    margin-bottom: 40px;
    background: $mainBackground;
    box-shadow: $elementBoxShadow;
  }

  &__main{
    position: relative;
  }
  &__background{
    min-width: 1440px;
    min-height: 830px;
    background: url("../pages/page-landing-page/image/image.jpg");
    background-size: cover;
  }

  &__search{
    padding-left: 140px;
    padding-top: 70px;
  }
}
