mixin like-button(properties = {})
  -
    const {
      number = 0,
      checked = false,
      name = "", 
      type = "",
    } = properties 

    const dataProperties = JSON.stringify(properties)
    const colorClassModifire = checked ? "like-button__title-blue" : ""

  .like-button.like-button-js(data-properties = dataProperties)
    .like-button__item 
      input.like-button__input.material-icons(
        type = type,
        name = name, 
        checked = checked,
        )
      label(for = id)&attributes({
        class: ["like-button__title", colorClassModifire]
      }) #{number}