.form-elements{
  &__container{
    display: block;
    min-width: 1158px;
    max-width: 1158px;
    margin: 0 auto;
  }
  &__text-fields-buttons{
    display: flex;
    flex-direction: row;
    gap: 0 50px;
  }
  &__text-fields{
    display: flex;
    flex-direction: column;
  }

  &__large-wrapper{
    margin-bottom: 40px;
    min-width: 320px;
    max-width: 320px;
  }
  
  &__medium-wrapper{
    margin-bottom: 40px;
    min-width: 266px;
    max-width: 266px;
  }

  &__small-wrapper{
    margin-bottom: 40px;
    min-width: 222px;
    max-width: 222px;
  }
}
