include ../../components/heading/heading.pug
include ../../components/text-field/text-field.pug
include ../../components/dropdown/dropdown.pug

block content
  main.form-elements
    .form-elements__container
      section.form-elements__text-fields-buttons
        .form-elements__text-fields
          .form-elements__text-field-wrapper
            +heading({ 
              level: "h3", 
              title: "text field", 
              description: "default" 
              })
            +text-field({
              type: "text", 
              placeholder: "Email", 
              name: "email",
            })
          .form-elements__text-field-wrapper
            +heading({ 
              level: "h3", 
              title: "text field", 
              description: "hover/focus", 
              })
            +text-field({
              type: "text", 
              placeholder: "This is pretty awesome", 
              name: "email",
              focused: true,
            })
          .form-elements__text-field-wrapper
            +heading({ 
              level: "h3", 
              title: "dropdown",
            })
            +dropdown({
              id: "text-field-dropdown",
              isOpen: true,
              placeholder: "Сколько гостей",
              maxCount: 10,
              elements: [
                { title: "Взрослые", id: "adult", startCount: 1 }, 
                { title: "Дети", id: "kids", startCount: 6 }, 
                { title: "Младенцы", id: "baby", startCount: 3 }
              ],
              plurals: {
                adult: ["Взрослый", "Взрослых", "Взрослых"],
                kids: ["Ребенок", "Ребенка", "Детей"],
                baby: ["Младенец", "Младенца", "Младенцев"],
                },
            })
          .form-elements__text-field-wrapper
            +heading({ 
              level: "h3", 
              title: "masked text field",
            })
            +text-field({
              type: "text", 
              placeholder: "ДД.ММ.ГГГГ", 
              name: "email",
              focused: false,
              dateMask: true,
            })
