@import "@base";

.form-elements {
  &__container {
    display: block;
    min-width: 1158px;
    max-width: 1158px;
    margin: 0 auto;
  }

  &__text-fields {
    display: flex;
    flex-direction: column;

    &--filter-date {
      width: 264px;
    }

    &--date-dropdown {
      padding-bottom: 15px;
    }
  }

  &__checkboxes {
    padding-left: 55px;
  }

  &__lists {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 174px;

    &-checkboxes-rich-list {
      padding-left: 53px;
    }

    &-checkboxes-bullet-list {
      padding-right: 53px;

      &--wrapper {
        padding-top: 7px;
      }
    }

    &-checkboxes-lists {
      display: flex;
      flex-direction: column-reverse;
      justify-content: flex-end;
    }
  }

  &__extra-large-wrapper {
    min-width: 712px;
    max-width: 712px;
  }

  &__large-wrapper {
    min-width: 320px;
    max-width: 320px;
    margin-bottom: 18px;

    &-couple {
      display: flex;
      gap: 0 20px;
      padding-bottom: 30px;
    }

    &--extra-padding {
      padding-bottom: 19px;
    }
  }

  &__medium-wrapper {
    min-width: 266px;
    max-width: 266px;
    margin-bottom: 40px;

    &-couple {
      display: flex;
      gap: 0 20px;
      padding-bottom: 30px;
    }

    &--margin-botton14 {
      margin-bottom: 14px;
    }
  }

  &__small-wrapper {
    min-width: 222px;
    max-width: 222px;

    &-couple {
      display: flex;
      gap: 0 20px;
      padding-bottom: 30px;

      &--like-button {
        display: flex;
        gap: 10px;
        padding-top: 10px;
        padding-bottom: 30px;
      }
    }
  }

  &__feedback {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__button-large {
    width: 320px;
    height: 44px;
  }

  &__button-small {
    width: 100px;
    height: 44px;
  }

  &__review {
    padding-top: 11px;
  }

  &__text-fields-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 734px;

    &--checkbox-list {
      min-height: 169px;
    }

    &--radio-buttons {
      min-height: 89px;
    }

    &--toggles {
      padding-top: 8px;
    }

    &--special-offer {
      min-height: 112px;
    }

    &--like-button {
      min-height: 89px;
    }

    &--rate-buttons {
      padding-top: 10px;
    }
  }

  &__dropdowns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 132px;

    &-rooms {
      display: flex;
      flex-direction: column-reverse;
    }

    &-guests-clear {
      padding-left: 108px;
    }
  }

  &__buttons {
    &--range-slider {
      min-height: 49px;
    }

    &--button-container {
      padding-top: 10px;
      padding-bottom: 23px;
    }

    &--button-links {
      gap: 20px;
    }

    &--button-link {
      width: 61px;
      height: 15px;
    }
  }

  &__pagination-container {
    &--heading {
      padding-bottom: 10px;
    }
  }
}
