extends ../../layouts/ui-kit-layout
include ../../components/heading/heading.pug
include ../../components/text-field/text-field.pug
include ../../components/dropdown/dropdown.pug
include ../../components/date-dropdown/date-dropdown.pug
include ../../components/filter-date-dropdown/filter-date-dropdown.pug
include ../../components/checkbox-list/checkbox-list.pug
include ../../components/radio-buttons/radio-buttons.pug
include ../../components/toggle/toggle.pug
include ../../components/like-button/like-button.pug
include ../../components/rate-button/rate-button.pug
include ../../components/range-slider/range-slider.pug
include ../../components/button/button.pug
include ../../components/pagination/pagination.pug

block variables
  - const pageTitle = "Form & Elements"

block content
  main.form-elements
    .form-elements__container
      section.form-elements__text-fields-buttons
        .form-elements__text-fields
          .form-elements__large-wrapper
            +heading({ 
              level: "h3", 
              title: "text field", 
              description: "default" 
              })
            +text-field({
              type: "text", 
              placeholder: "Email", 
              name: "email",
            })
          .form-elements__large-wrapper
            +heading({ 
              level: "h3", 
              title: "text field", 
              description: "hover/focus", 
              })
            +text-field({
              type: "text", 
              placeholder: "This is pretty awesome", 
              name: "email",
              focused: true,
            })
          .form-elements__large-wrapper
            +heading({ 
              level: "h3", 
              title: "dropdown",
            })
            +dropdown({
              id: "text-field-dropdown",
              isOpen: false,
              type: "guests1",
              placeholder: "Сколько гостей",
              maxCount: 10,
              elements: [
                { title: "Взрослые", id: "adult", startCount: 0 }, 
                { title: "Дети", id: "kids", startCount: 0 }, 
                { title: "Младенцы", id: "baby", startCount: 0 }
              ],
              plurals: {
                adult: "Взрослый, Взрослых, Взрослых",
                kids: "Ребенок, Ребенка, Детей",
                baby: "Младенец, Младенца, Младенцев",
                },
            })
          .form-elements__large-wrapper
            +heading({ 
              level: "h3", 
              title: "masked text field",
            })
            +text-field({
              type: "text", 
              placeholder: "ДД.ММ.ГГГГ", 
              name: "email",
              focused: false,
              dateMask: true,
            })
          .form-elements__large-wrapper
            +date-dropdown({
              id: "text-field-datepicker",
              type:"text",
              hasTwoInputs: true,
              hasArrow: true,
              inline: true,
              dateFormat: "dd.MM.yyyy",
              startTitle: "date dropdown",
              endTitle: "date dropdown",
              placeholderStart: "ДД.ММ.ГГГГ",
              placeholderEnd: "19.08.2019",
              name: "date",
              startDate: "08.10.2019",
              endDate: "08.19.2019",
              withMask: true
            })
          .form-elements__medium-wrapper
            +filter-date-dropdown({
              id: "filter-text-field-datepicker",
              type:"text",
              hasArrow: true,
              dateFormat: "dd.MM.yyyy",
              title: "filter date dropdown",
              placeholder: "ДД.ММ.ГГГГ",
              name: "date",
              startDate: "08.10.2019",
              endDate: "08.19.2019",
              withMask: true,
              datesSeparator: " - "
            })
          .form-elements__medium-wrapper
            +heading({ 
              level: "h3", 
              title: "SUBSCRIPTION TEXT FIELD",
            })
            +text-field({
              type: "text", 
              placeholder: "Email", 
              name: "email",
              focused: false,
              hasArrowSubscription: true,
            })
        .form-elements__text-checkboxes
          .form-elements__small-wrapper
            +heading({ 
              level: "h3", 
              title: "CHECKBOX BUTTONS",
            })
            +checkbox-list({	
              listItems: [
                { title: "Можно курить", name: 'smoke-allow' },
                { title: "Можно с питомцами", name: 'pets-allow' },
                { title: "Можно пригласить гостей (до 10 человек)", name: 'guests-allow', checked: true }
              ],
            })
          .form-elements__small-wrapper
            +heading({ 
              level: "h3", 
              title: "Radio Buttons"
            })
            +radio-buttons({	
              name: "gender",
              type: "radio",
              inline: true,
              listItems: [
                { title: "Мужчина", id: "gender-f", checked: "checked" },
                { title: "Женщина", id: "gender-m" },
              ],
            })
          .form-elements__large-wrapper
            +heading({ 
              level: "h3", 
              title: "Toggle",
            })
            +toggle({	
              name: "special-offer",
              type: "checkbox",
              inline: false,
              listItems: [
                { title: "Получать спецпредложения", id: "special-offer1", checked: "checked" },
                { title: "Получать спецпредложения", id: "special-offer2" },
              ],
            })
          .form-elements__small-wrapper
            +heading({ 
              level: "h3", 
              title: "like button"
            })
            +like-button({	
              name: "like",
              type: "checkbox",
              inline: true,
              listItems: [
                { number: 2, id: "like-button1" },
                { number: 12, id: "like-button2", checked: "checked" },
              ],
            })
          .form-elements__medium-wrapper
            +heading({ 
              level: "h3", 
              title: "rate button",
            })
            .form-elements__medium-wrapper-couple
              +rate-button({
                id: 'rate-button1',
                maxRate: 5,
                selectedRate: 4,
              })
              +rate-button({
                id: 'rate-button2',
                maxRate: 5,
                selectedRate: 5,
              })
        .form-elements__text-buttons
          .form-elements__medium-wrapper
            +heading({ 
              level: "h3", 
              title: "Range Slider",
              description: "5000₽ - 10000₽" 
            })
            +range-slider({
              id: "indexjs-range-slider",
              sliderMin: 0,
              sliderMax: 15000,
              startMin: 5000,
              startMax: 10000,
            })
          .form-elements__large-wrapper
            +heading({ 
              level: "h3", 
              title: "Buttons",
            })
            .form-elements__small-wrapper-couple
              +button({
                buttonName: "click me",
                buttonType: "ButtonDefault",
                size: "small",
                isTransparentBackground: false,
                disabled: false,
              })
              +button({
                buttonName: "click me",
                buttonType: "ButtonDefault",
                size: "small",
                isTransparentBackground: false,
                disabled: true,
              })
            .form-elements__small-wrapper-couple
              +button({
                buttonName: "click me",
                buttonType: "ButtonDefault",
                size: "small",
                isTransparentBackground: true,
                disabled: false,
              })
              +button({
                buttonName: "click me",
                buttonType: "ButtonDefault",
                size: "small",
                isTransparentBackground: true,
                disabled: true,
            })
            .form-elements__small-wrapper-couple
              +button({
                buttonName: "click me",
                buttonType: "ButtonLink",
                size: "small",
                isTransparentBackground: false,
                disabled: false,
              })
              +button({
                buttonName: "click me",
                buttonType: "ButtonLink",
                size: "small",
                isTransparentBackground: false,
                disabled: true,
              })
            .form-elements__large-wrapper-couple
              +button({
                buttonName: "перейти к оплате",
                buttonType: "ButtonDefault",
                size: "large",
                hasArrow: true,
            })
          .form-elements__large-wrapper
            +heading({ 
              level: "h3", 
              title: "Pagination",
            })
            +pagination({
              id: 'pagination',
              entries: 180,
              pages: 15,
            })