include ../../components/heading/heading.pug
include ../../components/text-field/text-field.pug

block content
  main.form-elements
    .form-elements__container
      section.form-elements__text-fields-buttons
        .form-elements__text-fields
          .form-elements__text-field-wrapper
            +heading({ 
              level: "h3", 
              title: "text field", 
              description: "default" 
              })
            +text-field({
              type: "text", 
              placeholder: "Email", 
              name: "email",
            })
          .form-elements__text-field-wrapper
            +heading({ 
              level: "h3", 
              title: "text field", 
              description: "hover/focus" 
              })
            +text-field({
              type: "text", 
              placeholder: "This is pretty awesome", 
              name: "email",
              focused: true,
            })