extends ../../layouts/ui-kit-layout
include ../../components/heading/heading.pug
include ../../components/text-field/text-field.pug
include ../../components/dropdown/dropdown.pug
include ../../components/date-dropdown/date-dropdown.pug
include ../../components/filter-date-dropdown/filter-date-dropdown.pug
include ../../components/checkbox-list/checkbox-list.pug
include ../../components/radio-buttons/radio-buttons.pug
include ../../components/toggle/toggle.pug
include ../../components/like-button/like-button.pug
include ../../components/rate-button/rate-button.pug
include ../../components/range-slider/range-slider.pug
include ../../components/button/button.pug
include ../../components/pagination/pagination.pug
include ../../components/bullet-items/bullet-items.pug
include ../../components/dignity/dignity.pug
include ../../components/review/review.pug

block variables
  - const pageTitle = "Form & Elements"
  - const bodyProperties = "background: white"
  - const isUI = true

block content
  main.form-elements
    .form-elements__container
      .form-elements__text-fields-buttons
        .form-elements__text-fields
          .form-elements__large-wrapper
            +heading({ 
              level: "h3", 
              title: "text field", 
              description: "default" 
              })
            +text-field({
              type: "text", 
              placeholder: "Email", 
              name: "email",
            })

          .form-elements__large-wrapper
            +heading({ 
              level: "h3", 
              title: "text field", 
              description: "hover/focus", 
              })
            +text-field({
              type: "text", 
              placeholder: "This is pretty awesome", 
              name: "email",
              focused: true,
            })

          .form-elements__large-wrapper
            +heading({ 
              level: "h3", 
              title: "dropdown",
            })
            +dropdown({
              isOpen: false,
              hasButtons: true,
              type: "not-guests",
              placeholder: "Сколько гостей",
              maxCount: 10,
              elements: [
                { title: "Взрослые", id: "fields-adult", startCount: 0 }, 
                { title: "Дети", id: "fields-kids", startCount: 0 }, 
                { title: "Младенцы", id: "fields-baby", startCount: 0 }
              ],
              plurals: {
                "fields-adult": "Взрослый, Взрослых, Взрослых",
                "fields-kids": "Ребенок, Ребенка, Детей",
                "fields-baby": "Младенец, Младенца, Младенцев",
                },
            })

          .form-elements__large-wrapper
            .form-elements__large-wrapper--extra-padding
              +heading({ 
                level: "h3", 
                title: "masked text field",
              })
              +text-field({
                type: "text", 
                placeholder: "ДД.ММ.ГГГГ", 
                name: "email",
                focused: false,
                dateMask: true,
              })

          .form-elements__large-wrapper
            .form-elements__text-fields--date-dropdown
              +date-dropdown({
                type:"text",
                hasTwoInputs: true,
                hasArrow: true,
                inline: true,
                dateFormat: "dd.MM.yyyy",
                startTitle: "date dropdown",
                endTitle: "date dropdown",
                placeholderStart: "ДД.ММ.ГГГГ",
                placeholderEnd: "19.08.2019",
                name: "date",
                startDate: "08.10.2019",
                endDate: "08.19.2019",
                withMask: true
              })

          .form-elements__medium-wrapper
            .form-elements__text-fields--filter-date
              +filter-date-dropdown({
                type:"text",
                hasArrow: true,
                dateFormat: "dd.MM.yyyy",
                title: "filter date dropdown",
                placeholder: "19 авг - 23 авг",
                name: "date",
                startDate: "08.10.2019",
                endDate: "08.19.2019",
                withMask: true,
                datesSeparator: " - "
              })
          .form-elements__medium-wrapper
            +heading({ 
              level: "h3", 
              title: "SUBSCRIPTION TEXT FIELD",
            })
            +text-field({
              type: "text", 
              placeholder: "Email", 
              name: "email",
              focused: false,
              hasArrowSubscription: true,
            })
        .form-elements__checkboxes
          .form-elements__small-wrapper.form-elements__text-fields-buttons--checkbox-list
            +heading({ 
              level: "h3", 
              title: "CHECKBOX BUTTONS",
            })
            +checkbox-list({
              listItems: [
                { title: "Можно курить", name: 'smoke-allow' },
                { title: "Можно с питомцами", name: 'pets-allow' },
                { title: "Можно пригласить гостей (до 10 человек)", name: 'guests-allow', checked: true }
              ],
            })
          .form-elements__small-wrapper.form-elements__text-fields-buttons--radio-buttons
            +heading({ 
              level: "h3", 
              title: "Radio Buttons"
            })
            +radio-buttons({	
              name: "gender",
              type: "radio",
              inline: true,
              listItems: [
                { title: "Мужчина", id: "gender-f", checked: "checked" },
                { title: "Женщина", id: "gender-m" },
              ],
            })
          .form-elements__large-wrapper.form-elements__text-fields-buttons--special-offer
            +heading({ 
              level: "h3", 
              title: "Toggle",
            })
            .form-elements__text-fields-buttons--toggles
              +toggle({	
                name: "special-offer",
                type: "checkbox",
                inline: false,
                listItems: [
                  { title: "Получать спецпредложения", id: "special-offer1", checked: "checked" },
                  { title: "Получать спецпредложения", id: "special-offer2" },
                ],
              })
          .form-elements__small-wrapper.form-elements__text-fields-buttons--like-button
            +heading({ 
              level: "h3", 
              title: "like button"
            })
            .form-elements__small-wrapper-couple--like-button
              +like-button({	
                name: "like",
                type: "checkbox",
                inline: true,
                number: 2, 
              })
              +like-button({	
                name: "like",
                type: "checkbox",
                inline: true,
                number: 12, 
                checked: "checked",
              })
          .form-elements__medium-wrapper
            +heading({ 
              level: "h3", 
              title: "rate button",
            })
            .form-elements__medium-wrapper-couple.form-elements__text-fields-buttons--rate-buttons
              +rate-button({
                changable: true,
                maxRate: 5,
                selectedRate: 4,
              })
              +rate-button({
                changable: true,
                maxRate: 5,
                selectedRate: 5,
              })
        .form-elements__buttons
          .form-elements__medium-wrapper.form-elements__buttons--range-slider
            +heading({ 
              level: "h3", 
              title: "Range Slider",
              description: "5000₽ - 10000₽" 
            })
            +range-slider({
              sliderMin: 0,
              sliderMax: 15000,
              startMin: 5000,
              startMax: 10000,
            })
          .form-elements__large-wrapper
            +heading({ 
              level: "h3", 
              title: "Buttons",
            })
            .form-elements__buttons--button-container
              .form-elements__small-wrapper-couple
                .form-elements__button-small
                  +button({
                    buttonName: "click me",
                    buttonType: "ButtonDefault",
                    size: "small",
                    isTransparentBackground: false,
                    disabled: false,
                  })
                .form-elements__button-small
                  +button({
                    buttonName: "click me",
                    buttonType: "ButtonDefault",
                    size: "small",
                    isTransparentBackground: false,
                    disabled: true,
                  })
              .form-elements__small-wrapper-couple
                .form-elements__button-small
                  +button({
                    buttonName: "click me",
                    buttonType: "ButtonDefault",
                    size: "small",
                    isTransparentBackground: true,
                    disabled: false,
                  })
                .form-elements__button-small
                  +button({
                    buttonName: "click me",
                    buttonType: "ButtonDefault",
                    size: "small",
                    isTransparentBackground: true,
                    disabled: true,
                })
              .form-elements__small-wrapper-couple.form-elements__buttons--button-links
                .form-elements__button-small.form-elements__buttons--button-link
                  +button({
                    buttonName: "click me",
                    buttonType: "ButtonLink",
                    size: "small",
                    isTransparentBackground: false,
                    disabled: false,
                  })
                .form-elements__button-small.form-elements__buttons--button-link
                  +button({
                    buttonName: "click me",
                    buttonType: "ButtonLink",
                    size: "small",
                    isTransparentBackground: false,
                    disabled: true,
                  })
              .form-elements__button-large
                +button({
                  buttonName: "перейти к оплате",
                  buttonType: "ButtonDefault",
                  size: "large",
                  hasArrow: true,
                })
          .form-elements__pagination-container
            .form-elements__pagination-container--heading
              +heading({ 
                level: "h3", 
                title: "Pagination",
              })
            +pagination({
              entries: 180,
              pages: 15,
            })
      .form-elements__dropdowns
        .form-elements__dropdowns-rooms
          .form-elements__medium-wrapper
            +heading({ 
              level: "h3", 
              title: "dropdown", 
              description: "expanded"
            })
            +dropdown({
              isOpen: true,
              type: "guests",
              placeholder: "Сколько гостей",
              maxCount: 10,
              elements: [
                { title: "Спальни", id: "rooms-down-bedrooms", startCount: 2 }, 
                { title: "Кровати", id: "rooms-down-beds", startCount: 2 }, 
                { title: "Ванные комнаты", id: "rooms-down-bathrooms", startCount: 0 }
              ],
              plurals: {
                "rooms-down-bedrooms": "спальня, спальни, спален",
                "rooms-down-beds": "кровать, кровати, кроватей",
                "rooms-down-bathrooms": "ванная комната, ванные комнаты, ванных комнат",
                },
            })
          .form-elements__medium-wrapper.form-elements__medium-wrapper--margin-botton14
            +heading({ 
              level: "h3", 
              title: "dropdown",
              description: "default"
            })
            +dropdown({
              isOpen: false,
              type: "guests",
              placeholder: "Сколько гостей",
              maxCount: 10,
              elements: [
                { title: "Спальни", id: "rooms-up-bedrooms", startCount: 2 }, 
                { title: "Кровати", id: "rooms-up-beds", startCount: 2 }, 
                { title: "Ванные комнаты", id: "rooms-up-bathrooms", startCount: 0 }
              ],
              plurals: {
                "rooms-up-bedrooms": "спальня, спальни, спален",
                "rooms-up-beds": "кровать, кровати, кроватей",
                "rooms-up-bathrooms": "ванная комната, ванные комнаты, ванных комнат",
                },
            })
        .form-elements__dropdowns-guests-clear
          .form-elements__large-wrapper
            +heading({ 
              level: "h3", 
              title: "dropdown",
            })
            +dropdown({
              isOpen: true,
              hasButtons: true,
              type: "not-guests",
              placeholder: "Сколько гостей",
              maxCount: 10,
              elements: [
                { title: "Взрослые", id: "dropdowns-guests-clear-adult", startCount: 0 }, 
                { title: "Дети", id: "dropdowns-guests-clear-kids", startCount: 0 }, 
                { title: "Младенцы", id: "dropdowns-guests-clear-baby", startCount: 0 }
              ],
              plurals: {
                "dropdowns-guests-clear-adult": "Взрослый, Взрослых, Взрослых",
                "dropdowns-guests-clear-kids": "Ребенок, Ребенка, Детей",
                "dropdowns-guests-clear-baby": "Младенец, Младенца, Младенцев",
                },
            })
        .form-elements__dropdowns-guests
          .form-elements__large-wrapper
            +heading({ 
              level: "h3", 
              title: "dropdown",
            })
            +dropdown({
              isOpen: true,
              hasButtons: true,
              type: "not-guests",
              placeholder: "Сколько гостей",
              maxCount: 10,
              elements: [
                { title: "Взрослые", id: "dropdowns-guests-adult", startCount: 2 }, 
                { title: "Дети", id: "dropdowns-guests-kids", startCount: 1 }, 
                { title: "Младенцы", id: "dropdowns-guests-baby", startCount: 0 }
              ],
              plurals: {
                "dropdowns-guests-adult": "Взрослый, Взрослых, Взрослых",
                "dropdowns-guests-kids": "Ребенок, Ребенка, Детей",
                "dropdowns-guests-baby": "Младенец, Младенца, Младенцев",
                },
            })
      .form-elements__lists
        .form-elements__lists-checkboxes-lists
          .form-elements__medium-wrapper
            +checkbox-list({	
              title: "EXPANDABLE CHECKBOX LIST",
              isDropdown: true,
              isOpen: true,
              listItems: [
                { title: "Завтрак", name: 'breakfast' },
                { title: "Письменный стол", name: 'desk', checked: true },
                { title: "Стул для кормления", name: 'table', checked: true },
                { title: "Кроватка", name: 'bed', checked: true },
                { title: "Телевизор", name: 'tv'},
                { title: "Шампунь", name: 'shampoo'},
              ],
            })
          .form-elements__medium-wrapper
            +checkbox-list({	
              title: "EXPANDABLE CHECKBOX LIST",
              isDropdown: true,
              isOpen: false,
              listItems: [
                { title: "Завтрак", name: 'breakfast' },
                { title: "Письменный стол", name: 'desk', checked: true },
                { title: "Стул для кормления", name: 'table', checked: true },
                { title: "Кроватка", name: 'bed', checked: true },
                { title: "Телевизор", name: 'tv'},
                { title: "Шампунь", name: 'shampoo'},
              ],
            })
        .form-elements__lists-checkboxes-rich-list
          .form-elements__medium-wrapper
            +heading({ 
              level: "h3", 
              title: "RICH CHECKBOX BUTTONS",
            })
            +checkbox-list({	
              title: "RICH CHECKBOX BUTTONS",
              isOpen: true,
              richListItems: [
                { title: "Широкий коридор", description: "Ширина коридоров в номере не\u00A0менее 91 см.", name: 'corridor', checked: true },
                { title: "Помощник для инвалидов", description: "На 1 этаже вас встретит специалист и\u00A0проводит до номера.", name: 'helper' },
              ],
            })
        .form-elements__lists-checkboxes-bullet-list
          .form-elements__medium-wrapper
            +heading({ 
              level: "h3", 
              title: "bullet list",
            })
            .form-elements__lists-checkboxes-bullet-list--wrapper
              +bullet-items({
                listItems: [
                  { title: "Нельзя с питомцами"},
                  { title: "Без вечеринок и мероприятий"},
                  { title: "Время прибытия — после 13:00, а\u00A0выезд до 12:00"},
                ]
              })
      .form-elements__feedback
        .form-elements__grade
          .form-elements__medium-wrapper
            +dignity({
              materialIconsCode: "insert_emoticon",
              title: "Комфорт",
              description: "Шумопоглощающие стены",
            })
            +dignity({
              materialIconsCode: "location_city",
              title: "Удобство",
              description: "Окно в каждой из спален",
            })
        .form-elements__review
          .form-elements__extra-large-wrapper
            +review({
              jpgSrc: "murad_sarafanov",
              numberLikeButton: 12,   
              checkedLikeButton: "checked",  
              idLikeButton: "feedback-like-button", 
              nameLikeButton: "feedback-like-button", 
              typeLikeButton: "checkbox",
              namePerson: "Мурад Сарафанов",
              statusPerson: "5 дней назад",
              description: "Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.",
            })