@import "@base";
@import "@mixins";

.date-dropdown {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: inherit;

  &__couple {
    display: flex;
    flex-direction: column;
    gap: 0 20px;
    width: 100%;
    margin-bottom: 3px;
  }

  &__inline {
    display: flex;
    flex-direction: row;
  }

  &__start {
    width: 100%;
  }

  &__end {
    width: 100%;
  }
}

.air-datepicker {
  width: 100%;
  margin-top: 5px;
  color: $textColor_50;
  font-size: 14px;
  font-family: $mainFont;

  &-nav--title {
    height: 57px;
    color: $textColor;
    @include font-h2;
  }

  &-nav--title i {
    @include font-h2;

    color: $textColor;
  }

  &-nav--action-arrow {
    color: $elementColor;

    &:hover {
      color: $textColor_50;
      transition: 0.5s;
    }
  }

  &-body--day-names {
    height: 40px;
    margin: 8px 0 1px;
  }

  &-cell.-selected- {
    color: #fff;
    background: $elementGradient;
    border: none;
    border-radius: 50%;
    transition: 0.5s;
  }

  &-cell.-day- {
    width: 40px;
    height: 40px;
  }

  &-cell.-day-:hover {
    background-color: $textColor_50;
    border-radius: 50%;
    transition: 0.5s;
  }

  &-body--day-name {
    color: $elementColor;
    font-weight: 700;
  }

  &-cell.-current- {
    color: $elementColor;
    font-size: large;
  }

  &-buttons {
    display: flex;
    justify-content: space-between;
    padding-top: 7px;
    padding-bottom: 8px;
  }

  &-button {
    @include font-h3;

    padding: 0 15px;
    color: $elementColor;

    &:hover span {
      color: $textColor_50;
    }
  }

  &--pointer {
    display: none;
  }

  &.-inline- {
    border: none;
    box-shadow: $elementBoxShadow;
  }

  &--buttons {
    border: none;
  }

  &--content {
    padding: 0;
  }

  &.-bottom-left-.-from-bottom-.-active- {
    box-shadow: $elementBoxShadow;
  }

  &-nav--action {
    padding: 0 30px;
  }
}

nav.air-datepicker-nav {
  border: none;
}

@media (max-width: 380px) {
  .date-dropdown__couple.date-dropdown__inline {
    flex-direction: column;
  }
}

@media (max-width: 425px) {
  .air-datepicker.-inline- {
    transform: scale(0.8) translateY(-41px) translateX(-37px);
  }
}
