@import '@base';
@import '@mixins';

.dignity{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 27px;

  &__image{
    width: 40px;
    height: 40px;
    color: $elementColor;
    font-size: 47px;
  
    & span {
      width: inherit;
      height: inherit;
      font-size: inherit;
    }
  }

  &__text{
    display: flex;
    flex-direction: column;
    font-family: $mainFont;
    padding-left: 17px;

    &-title{
      @include font-body;
      font-weight: 700;
      color: $textColor_75;
    }
    
    &-description{
      font-size: 14px;
      font-weight: 400;
      color: $textColor_75;

    }
  }

  &__subline{
    border-bottom: 1px solid rgba(31, 32, 65, 0.1);
    margin-bottom: 17px;
  }
}
