@import "@base";
@import "@mixins";

.dignity {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 23px;

  &__image {
    width: 40px;
    height: 47px;
    color: $elementColor;
    font-size: 47px;

    & span {
      width: inherit;
      height: inherit;
      font-size: inherit;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    padding-left: 17px;
    font-family: $mainFont;

    &-title {
      color: $textColor_75;
      font-weight: 700;
      font-size: 1rem;
      font-family: $mainFont;
      font-style: normal;
      line-height: 24px;
    }

    &-description {
      @include font-body;
    }
  }

  &__subline {
    margin-bottom: 17px;
    border-bottom: 1px solid rgb(31 32 65 / 10%);
  }
}
