doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Colors&Type
body 
  .color-and-types-container
    ul.colors
      li.colors-item 
        .colors-rect.colors-rect_gray
        .title 
          .title-sup Dark Shade 100%
          .title-sub #1F2041
      li.colors-item 
        .colors-rect.colors-rect_dark-gray
        .title 
          .title-sup Dark Shade 75%
          .title-sub #1F2041
      li.colors-item 
        .colors-rect.colors-rect_gray 
        .title 
          .title-sup Dark Shade 50%
          .title-sub #1F2041
      li.colors-item 
        .colors-rect.colors-rect_light-gray 
        .title 
          .title-sup Dark Shade 25%
          .title-sub #1F2041
      li.colors-item 
        .colors-rect.colors-rect_lightest-gray 
        .title 
          .title-sup Dark Shade 5%
          .title-sub #1F2041
      li.colors-item 
        .colors-rect.colors-rect_dark-purple 
        .title 
          .title-sup Purple
          .title-sub #BC9CFF
      li.colors-item 
        .colors-rect.colors-rect_dark-green 
        .title 
          .title-sup Green 
          .title-sub #6FCF97
    ul.types
      li.types-item  
          .types-tag.types-tag_h1 H1
          .types-title.types-title_h1.types-title_width-h1 This one is the sub-section or widget title
      li.types-item  
          .types-tag.types-tag_h2 H2
          .types-title.types-title_h2.types-title_width-h2 Next one is the item title inside widgets
      li.types-item  
          .types-tag.types-tag_h3 H3
          .types-title.types-title_h3.types-title_width-h3 This is a label or CTA text
      li.types-item  
          .types-tag.types-tag_body Body
          .types-title.types-title_body.types-title_width-body This is the body text which is used for most of the design, like paragraphs, lists, etc.
