@import '@base';
@import '@mixins';

.card-room-search{
  max-width: 380px;
  min-width: 380px;
  padding: 40px 30px 30px 29px;
  margin-bottom: 40px;
  border-radius: 4px;
  font-family: $mainFont;
  color: $textColor;
  background: $mainBackground;
  box-shadow: $elementBoxShadow;

  &__title{
    @include font-h1;
    padding-bottom: 20px;
  }
  
  &__date-dropdown{
    width: 320px;
    padding-bottom: 13px;
  }

  &__dropdown{
    padding-bottom: 30px;
  }
  &__button{
    width: 319px;
    height: 44px;
  }
}

@media (max-width: 380px){
  .card-room-search{
    max-width: 320px;
    min-width: 320px;

    &__title{
      font-size: 1em;
    }

    &__date-dropdown{
      width: 260px;
    }
    
    &__button{
      width: 260px;
    }

  }
}
