@import '@base';

.card-login{
  max-width: 380px;
  min-width: 380px;
  height: 355px;
  padding: 39px 30px 30px 29px;
  border-radius: 4px;
  font-family: $mainFont;
  color: $textColor;
  background: $mainBackground;
  box-shadow: 0 0 25px rgb(0 0 0 / 20%);

  &__heading{
    padding-bottom: 10px;
  }
  &__email{
    padding-bottom: 10px;
  }
  &__password{
    padding-bottom: 17px;
  } 
  &__signin{
    margin-bottom: 25px;
    width: 319px;
    height: 44px;
  } 

  &__login{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &-title{
      font-size: 14px;
      color: $textColor;
    }

    &-button{
      width: 100px;
      height: 44px;
    }

  }
}
