mixin range-slider(properties = {})

  -
    const {
      sliderMin = "0",
      sliderMax = "100",
      currentMin = "0",
      currentMax = "100",
    } = properties

    const dataProperties = JSON.stringify(properties)

  section.range-slider.range-slider-js(data-properties = dataProperties)

