@import '@base';
@import '@mixins';

.range-slider{
  margin-top: 23px;
  margin-bottom: 14px;

  &.noUi-horizontal {
    height: 6px;
    border: 1px solid $textColor_25;
  }
  
  &.noUi-connects{
    height: 6px;
  }

  &.noUi-horizontal .noUi-handle {
    width: 15px;
    height: 15px;
    border: none;
    border-radius: 50%;
    right: -2px;
    top: -6px;
  }
  &.noUi-horizontal .noUi-touch-area {
    background: $elementGradient;
    border-radius: 50%;
    border: 1px solid $mainBackground;
  }
  & .noUi-connect{
    background: $elementGradient;
  }

  &:hover .noUi-tooltip{
    display: block;
  }

  & .noUi-tooltip{
    display: none;
    border: none;
    font-family: $mainFont;
    font-size: 10px;
    padding: 0;
    color: $textColor_75;
    background: none;
  }

  & .noUi-handle::before,
  & .noUi-handle::after {
    content: none
  }
}
