mixin range-slider(properties = {})

  -
    const {
      id = "",
      sliderMin = "0",
      sliderMax = "100",
      currentMin = "0",
      currentMax = "100",
    } = properties

    const dataProperties = JSON.stringify(properties)

  section.range-slider(id = id, data-properties = dataProperties)

