mixin range-slider(properties = {})

  -
    const {
      sliderMin = "0",
      sliderMax = "100",
      currentMin = "0",
      currentMax = "100",
      hasDiscritpion = false,
      discriptionText = "",
    } = properties

    const dataProperties = JSON.stringify(properties)

  section.slider
    .range-slider.range-slider-js(data-properties = dataProperties)
    if hasDiscritpion
      p.slider__discription #{discriptionText}

