mixin price-list(properties = {})

  -
    const {
      elements = [],
    } = properties 

  section.price-list
    each element in elements
        .price-list__item
          .price-list__title #{element.title}
          .price-list__button-and-price
            if element.hasInfoButton
              .price-list__button i
            .price-list__price #{element.price}