@import '@base';
@import '@mixins';

.price-list{
  font-family: $mainFont;
  color: $textColor;
  background: $mainBackground;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  color: $textColor_75;

    &__item{
      display: flex;
      justify-content: space-between;
      padding-bottom: 15px;
    }

    &__info{
      display: flex;
      align-content: center;
      color: $textColor_75;
    }

    &__title{
      @include font-body;
      line-height: 18px;
    }

    &__button-and-price{
      display: flex;
    }

    &__button{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 18px;
      height: 18px;
      border: 1px solid rgba(31, 32, 65, 0.25);
      color: rgba(31, 32, 65, 0.25);
      border-radius: 50%;
      font-size: 10px;
      font-weight: 700;
    }

    &__price{
      color: $textColor_75;
      min-width: 80px;
      text-align: end;
    }

}
