@import '@base';

@mixin font-h1{
  font-family: $mainFont;
  font-style: normal;
  font-weight: 700;
  font-size: 1.7143rem;
  line-height: 29px;
}

@mixin font-h2{
  font-family: $mainFont;
  font-style: normal;
  font-weight: 700;
  font-size: 1.3572rem;
  line-height: 23px;
}

@mixin font-h3{
  font-family: $mainFont;
  font-style: normal;
  font-weight: 700;
  font-size: 0.8572rem;
  line-height: 15px;
  text-transform: uppercase;
}

@mixin font-body{
  font-family: $mainFont;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 24px;
}
