@import "@base";
@import "@mixins";

.checkbox-list {
  position: relative;
  display: flex;
  flex-direction: column;

  &__container {
    position: relative;
  }

  &__items {
    display: none;
  }

  &__item {
    display: flex;
    padding-bottom: 10px;
    cursor: pointer;
  }

  &__open &__items {
    position: absolute;
    display: flex;
    flex-direction: column;
    padding-top: 11px;
    background: $mainBackground;
  }

  &__input {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: $textColor;
    cursor: pointer;
    @include font-h3;

    &-arrow {
      padding-right: 9px;
      color: $textColor_50;
    }

    &-title {
      display: flex;
      align-items: center;
    }
  }

  /* rich listItems */

  &__richItem {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding-bottom: 6px;
    cursor: pointer;
  }

  &__rich-container {
    display: flex;
    flex-direction: column;
    margin-top: -2px;
  }

  &__rich-title {
    padding-bottom: 2px;
    padding-left: 4px;
    font-weight: 700;
    font-size: 1rem;
    font-family: $mainFont;
    font-style: normal;
    line-height: 24px;
  }

  &__rich-description {
    padding-left: 4px;
    color: $textColor_75;
    font-weight: 400;
    font-size: 0.8572rem;
    font-family: $mainFont;
    font-style: normal;
    line-height: 15px;
    text-transform: uppercase;
    text-transform: none;
  }

  &__title {
    color: $textColor_50;
    font-weight: 400;
    font-size: 1rem;
    font-family: $mainFont;
    font-style: normal;
    line-height: 18px;
  }

  &__checkbox {
    position: absolute;
    z-index: -1;
    margin: 5px;
    opacity: 0;
  }

  &__box::before {
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    margin-right: 0.5em;
    font-size: 14px;
    background: $mainBackground;
    border: 1px solid $textColor_25;
    border-radius: 0.25em;
    content: "";
  }

  &__checkbox:checked + &__box::before {
    color: $elementColor;
    background: $mainBackground;
    border-color: $elementColor;
    content: "done";
  }
}
