@import '@base';

.checkbox-list {
  display       : flex;
  flex-direction: column;
  position: relative;

  &__items{
    display: none;
  }

  &__container{
    position: relative;
  }

  &__open .checkbox-list__items{
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-top: 12px;
    background: $mainBackground;
  }

  &__input {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: $textColor;
    font-weight: 700;
    font-size: 12px;
    font-family: $mainFont;
    text-transform: uppercase;
    cursor: pointer;

    &-arrow{
      color: $textColor_50;
      padding-right: 9px;
    }

    &-title{
      display: flex;
      align-items: center;
    }
  }
  
  /* rich listItems */

  &__richItem {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding-bottom: 10px;
    cursor: pointer;
}

  &__rich-container{
    display: flex;
    flex-direction: column;
  }

  &__rich-title{
    font-family: $mainFont;
    font-size: 14px;
    color: $textColor_75;
    font-weight: 700;
    padding-bottom: 7px;
    padding-left: 3px;
  }
  
  &__rich-description{
    font-family: $mainFont;
    font-size: 12px;
    line-height: 14px;
    color: $textColor_50;
    font-weight: 400;
  }

  /* default listItems */

  &__item{
    display: flex;
    padding-bottom: 10px;
    cursor: pointer;
  }

  &__title{
    font-family: $mainFont;
    font-style : normal;
    font-weight: 400;
    font-size  : 14px;
    line-height: 18px;
    color: $textColor_50;
    margin: 0;
  }

  &__checkbox {
    margin  : 5px;
    position: absolute;
    z-index : -1;
    opacity : 0;
  }

  &__box::before {
    display: flex;
    justify-content: center;
    align-items: center;
    content: "";
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid $textColor_25;
    border-radius: 0.25em;
    margin-right: 0.5em;
    width: 20px;
    height: 20px;
    font-size: 14px;
    background: $mainBackground;
  }

  &__checkbox:checked + .checkbox-list__box::before {
    content: "done";
    border-color: $elementColor;
    color: $elementColor;
    background: $mainBackground;
  }

}
