@import '@base';

.colors{
  display: flex;
  flex-direction: column;
  width: 100%;

  &__item{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;
  }

  &__rect{
    width        : 70px;
    height       : 70px;
    border-radius: 6px;
    &_darkest-gray{
      background-color: $textColor;
    }
    &_dark-gray{
      background-color: $textColor_75;
    }
    &_gray{
      background-color: $textColor_50;
    }
    
    &_light-gray{
      background-color: $textColor_25;
    }
    
    &_lightest-gray{
      background-color: $textColor_5;
    }
    
    &_purple{
      background-color: $elementColor;
    }
    
    &_green{
      background-color: $elementColor_extra;
    }
  }

  &__about{
    padding-left: 40px;
  }
  &__title{
    color      : $textColor;
    font-weight: 700;
    font-size: 19px;
    font-family: $mainFont;
    line-height: 28px;
    letter-spacing: 0.9px;
  }
  &__code{
    color      : $textColor;
    font-weight: 400;
    font-size  : 18px;
    font-family: $mainFont;
  }
}
