ul.colors
  li.colors-item 
    .colors-rect.colors-rect_darkest-gray
    .title 
      .title-sup Dark Shade 100%
      .title-sub #1F2041
  li.colors-item 
    .colors-rect.colors-rect_dark-gray
    .title 
      .title-sup Dark Shade 75%
      .title-sub #1F2041
  li.colors-item 
    .colors-rect.colors-rect_gray 
    .title 
      .title-sup Dark Shade 50%
      .title-sub #1F2041
  li.colors-item 
    .colors-rect.colors-rect_light-gray 
    .title 
      .title-sup Dark Shade 25%
      .title-sub #1F2041
  li.colors-item 
    .colors-rect.colors-rect_lightest-gray 
    .title 
      .title-sup Dark Shade 5%
      .title-sub #1F2041
  li.colors-item 
    .colors-rect.colors-rect_dark-purple 
    .title 
      .title-sup Purple
      .title-sub #BC9CFF
  li.colors-item 
    .colors-rect.colors-rect_dark-green 
    .title 
      .title-sup Green 
      .title-sub #6FCF97