mixin navigation(properties = {})

  -
    const {
      id = 'dont-id',
      boldTitle = false,
      linkItems = [],
      direction = "row",
      fontColor = "50%",
    } = properties 

    const rowClassModifire = direction === "row" ? "navigation__list--row" : "navigation__list--column"
    let colorClassModifire = fontColor === "100%" ? "navigation__item--color-100" : ""
        colorClassModifire = fontColor === "75%" ? "navigation__item--color-75" : ""
        colorClassModifire = fontColor === "50%" ? "navigation__item--color-50" : ""
        colorClassModifire = fontColor === "25%" ? "navigation__item--color-25" : ""

  section.navigation(id = id)
    ul.navigation__list&attributes({
      class: rowClassModifire
    })
      each link in linkItems

        -
          const arrowDropdownClassModifire = link.hasDropdown ? "material-icons navigation__item-arrow" : ""
          const hasDropdownClassModifire = link.hasDropdown ? "navigation__item-has-dropdown" : ""
          const boldTitleClassModifire = link.boldTitle ? "navigation__item-active-page" : ""

        li.navigation__item&attributes({
            class: [hasDropdownClassModifire, boldTitleClassModifire, colorClassModifire]
          })
          a.navigation__item-link #{link.title}
          if link.hasDropdown
            span&attributes({
            class: [arrowDropdownClassModifire]
          }) expand_more
            ul.navigation__subItems
              each subLink in link.subLinkItems
                li.navigation__subitem
                  a.navigation__subitem-sublink #{subLink.subTitle}