@import '@base';
@import '@mixins';

.room-number{
  display: flex;
  flex-direction: row;
  align-items: end;
  font-family: $mainFont;

  &__symbol{
    padding-right: 4px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: $textColor;
  }

  &__number{
    padding-right: 8px;
    @include font-h1;
    color: $textColor;

    &--small{
      @include font-h2;
      padding: 0;
    }
    
    &--high{
      font-size: 20px;
      line-height: 20px;
    }
  }

  &__text{
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: $elementColor;
  }
}