@import '@base';

.heading {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 2px;
  margin-bottom: 6px;

  &__title_level_h1 {
    color      : $textColor;
    font-weight: 700;
    font-size  : 29px;
    font-family: $mainFont;

    &::first-letter {
      text-transform: uppercase;
    }
  }

  &__title_level_h2 {
    color      : $textColor;
    font-weight: 700;
    font-size  : 23px;
    font-family: $mainFont;

    &::first-letter {
      text-transform: uppercase;
    }
  }

  &__title_level_h3 {
    color         : $textColor;
    font-weight   : 700;
    font-size     : 12px;
    font-family   : $mainFont;
    text-transform: uppercase;
  }

  &__description {
    color         : $textColor_75;
    font-weight   : 400;
    font-family   : $mainFont;
    font-size     : 12px;
    text-transform: uppercase;
    letter-spacing: 0.3px;

    &_lowercase {
      text-transform: lowercase;
    }
  }
}
