@import '@base';

.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2px;
  margin-bottom: 6px;

  &__title_level_h1 {
    font-family: $mainFont;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: $textColor;

    &::first-letter {
      text-transform: uppercase;
    }
  }

  &__title_level_h2 {
    font-family: $mainFont;
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 23px;
    color: $textColor;

    &::first-letter {
      text-transform: uppercase;
    }
  }

  &__title_level_h3 {
    color: $textColor;
    font-family: $mainFont;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
  }

  &__description {
    font-family: $mainFont;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    letter-spacing: 0.3px;
    color: $textColor_75;

    &_lowercase {
      text-transform: lowercase;
    }
  }
}
