@import '@base';

.registration-page{
  background: url("../pages/page-registration/images/image.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 1440px auto;
  background-position-y: -70px;
  width: 1440px;
  min-height: 684px;
  max-height: 684px;
  margin: 0 auto;

  &__wrapper{
    display: flex;
    justify-content: space-between;
    height: inherit;
    padding: 19px 0 0 533px;
    margin: 0 auto;
    max-width: 1440px;
    min-width: 320px;
  }

}

@media (max-width: 1439px){
  .registration-page{
    background-repeat: no-repeat;
    background-position: left;
    background-size: auto;
    width: 768px;
    height: 688px;
    margin: 0 auto;
    
    &__wrapper{
      display: flex;
      justify-content: center;
      align-items: center;
      height: inherit;
      margin: 0 auto;
      padding: 0;
      max-width: none;
      min-width: auto;
      flex-direction: column;
      flex-wrap: wrap;
    }
    
    &__title{
      max-width: auto;
      padding: 0;
      align-self: auto;
      text-align: center;
    }
  }
}

@media (max-width: 786px){
  .registration-page{
    background: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    margin-bottom: 30px;
  }
}
