@import '@base';
@import '@mixins';

.bullet-list{
  display: flex;
  flex-direction: column;

  &__items{
    list-style-type: none;
  }
  
  &__title{
    position: relative;
    padding-left: 20px;
    padding-bottom: 10px;
    color: $textColor_75;
    @include font-body;

    &::before{
      content: "";
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: $textColor_25;
      position: absolute;
      left: 0;
      top: 7px;
    }
  }
}