mixin bullet-items(properties = {})
  -
    const {
      listItems = [],
    } = properties

  section.bullet-list
    ul.bullet-list__items
      each item in listItems
        li.bullet-list__title #{item.title}