@import "@base";

.header {
  width: 100%;

  &__container {
    min-width: 320px;
    max-width: 1440px;
    margin: 0 auto;
  }

  &__body {
    display: flex;
    gap: 0 40px;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    padding: 0 140px;
  }

  &__menu {
    display: flex;
    flex-direction: row;
    gap: 0 20px;
    align-items: center;
    justify-content: space-between;
  }

  &__burger {
    display: none;
    font-size: 36px;
  }

  &__burger .material-icons {
    font-size: inherit;
  }

  &__navigation {
    display: flex;
    flex-direction: inherit;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
  }

  &__space-beetween {
    width: 1px;
    height: 30px;
    background: rgb(31 32 65 / 10%);
  }

  &__user-name {
    color: $textColor_50;
    font-weight: 400;
    font-size: 14px;
    font-family: $mainFont;
    font-style: normal;
    line-height: 17px;
    cursor: pointer;
  }

  &__button-login {
    width: 87px;
    height: 34px;
  }

  &__button-register {
    width: 196px;
    height: 34px;
  }
}

@media (min-width: 1280px) {
  .header__body {
    padding: 0 140px;
  }
}

@media (max-width: 1200px) {
  .header {
    &__burger {
      display: flex;
      cursor: pointer;
    }

    &__body {
      padding: 0 20px;
    }

    &__navigation--burger-open {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 90;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      background: $mainBackground;
    }

    &__menu--burger {
      display: flex;
      flex-direction: column;
    }

    &__button-login--burger {
      display: none;
    }

    &__button-register--burger {
      display: none;
    }

    &__space-beetween--burger {
      display: none;
    }

    &__user--burger {
      display: none;
    }
  }
}

@media (max-width: 768px) {
  .header__body {
    padding: 0 20px;
  }
}
