include ../../components/image/image.pug
include ../../components/navigation/navigation.pug
include ../../components/button/button.pug

mixin header(properties = {})

  -
    const {
      isLogined = false,
      userName = "default",
      headerLogo = {},
      headerNavigation = {},
      headerButtonSignIn = {},
    } = properties

  .header.header-js
    .header__container
      .header__body
        .header__logo
          +image-png(headerLogo)
        .header__menu.header__menu--burger
          .header__navigation.header__navigation--burger
            .header__burger
              .material-icons menu
            +navigation(headerNavigation)
            if isLogined
                .header__space-beetween.header__space-beetween--burger
                .header__user.header__user--burger
                  span.header__user-name #{userName}
            else
              .header__button-login.header__button-login--burger
                +button({
                  buttonName: "Войти",
                  buttonType: "ButtonDefault",
                  size: "small",
                  isTransparentBackground: true,
                })
              .header__button-register.header__button-register--burger
                +button({
                  buttonName: "зарегистрироваться",
                  buttonType: "ButtonDefault",
                  size: "large",
                })