@import "@base";

.date-dropdown {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;

  &__couple {
    display: flex;
    flex-direction: column;
    gap: 0 20px;
    width: 100%;
    margin-bottom: 5px;
  }

  &__inline {
    display: flex;
    flex-direction: row;
  }

  &__start {
    width: 100%;
  }

  &__end {
    width: 100%;
  }
}

.air-datepicker {
  width: 320px;
  margin-top: 5px;
  color: $textColor_50;
  font-size: 14px;
  font-family: $mainFont;

  &-nav--title {
    color: $textColor;
    font-weight: 700;
    font-size: 19px;
    font-family: $mainFont;
    font-style: normal;
    line-height: 23px;
  }

  &-nav--title i {
    color: $textColor;
    font-weight: 700;
    font-size: 19px;
    font-family: $mainFont;
    font-style: normal;
    line-height: 23px;
  }

  &-nav--action-arrow {
    color: $elementColor;

    &:hover {
      color: $textColor_50;
      transition: 0.5s;
    }
  }

  &--content {
    display: flex;
    justify-content: center;
  }

  &-body {
    &--day-names {
      width: 280px;
      height: 40px;
    }

    &--day-name {
      color: $elementColor;
      font-weight: 700;
    }

    &--cells.-days- {
      grid-auto-rows: inherit;
      width: 280px;
    }

    &.-days- {
      min-height: 240px;
    }
  }

  &-cell {
    &.-selected- {
      background: $elementColor;
      border-radius: 50%;
      transition: 0.5s;
    }

    &.-current- {
      color: $elementColor;
      font-size: large;
    }

    &.-in-range- {
      background: rgba($elementColor, 0.5);
      border-radius: 0;
    }

    &.-day- {
      width: 40px;
      height: 40px;

      &:hover {
        background: $elementColor;
        border-radius: 50%;
        transition: 0.5s;
      }

      &.-current- {
        color: #fff;
        font-size: 14px;
        background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
        border-radius: 50%;
      }
    }

    &.-range-from- {
      position: relative;

      &::after {
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
        width: 20px;
        height: inherit;
        background: rgba($elementColor, 0.5);
        content: "";
      }
    }

    &.-range-to- {
      position: relative;

      &::after {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 20px;
        height: inherit;
        background: rgba($elementColor, 0.5);
        content: "";
      }
    }
  }

  &-buttons {
    display: flex;
    justify-content: space-between;
  }

  &-button {
    padding: 0 15px;
    color: $elementColor;
    font-weight: 700;
    font-size: 12px;
    font-family: $mainFont;
    font-style: normal;
    line-height: 15px;
    text-transform: uppercase;

    &:hover span {
      color: $textColor_50;
    }
  }
}
