include ../text-field/text-field.pug
include ../heading/heading.pug

mixin filter-date-dropdown(properties = {})
  -
    const {
      type = "",
      hasArrow = false,
      dateFormat =  "",
      title = "",
      placeholder = "",
      name = "",
      startDate = "",
      selectedDates = "",
      endDate = "",
      withMask = false,
      datesSeparator = " - "
    } = properties

    const dataProperties = JSON.stringify(properties)

  section.date-dropdown.filter-date-dropdown(data-properties = dataProperties)
    +heading({ 
      level: "h3", 
      title: title,
    })
    +text-field({
      type: type, 
      hasArrow: hasArrow,
      placeholder: placeholder, 
      name: name,
      dateMask: withMask,
    })