@import '@base';
@import '@mixins';

.type{
  display: flex;
  flex-direction: column;
  width: 436px;
  &__item{
    display: flex;
    flex-direction: row;
  }
  &__h1 {
    display: flex;
    margin-bottom: 52px;
    @include h1
  }

  &__h2 {
    display: flex;
    margin-right: 20px;
    margin-bottom: 52px;
    @include h2
  }

  &__h3 {
    display: flex;
    margin-bottom: 51px;
    @include h3
  }

  &__body {
    display: flex;
    @include body
  }

  &__tag{
    display: flex;
    justify-content: flex-end;
    font-weight: 400;
    color: $textColor_25;
    max-width: 50px;
    min-width: 37px;
    margin-right: 30px;
  }
}
