mixin carousel(properties = {})

  -
    const {
      imgList = [],
    } = properties 
  
  section.carousel.carousel-js
    each item in imgList
      img(
        class = carousel__image
        src=require(`../../pages/page-search-room/img/${item}`)
        alt='room photo')
