mixin carousel(properties = {})

  -
    const {
      id = 'not-id',
      imgList = [],
    } = properties 
  
  section.carousel(id = id)
    each item in imgList
      img(
        class = carousel__image
        src=require(`../../pages/page-search-room/img/${item}`)
        alt='room photo')
