@import "@base";

.carousel {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: inherit;
}

.slick-prev {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  width: 43px;
  height: 100%;
  color: $mainBackground;
  background: none;
  background: linear-gradient(
    90deg,
    rgb(0 0 0 / 50%) 0%,
    rgb(0 0 0 / 0%) 99.99%,
    rgb(255 255 255 / 0%) 100%
  );
  border: none;
  border-radius: inherit;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  cursor: pointer;
}

.slick {
  &-prev.slick-arrow,
  &-next.slick-arrow {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  &-next {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 5;
    width: 43px;
    height: 100%;
    color: $mainBackground;
    background: none;
    background: linear-gradient(
      90deg,
      rgb(0 0 0 / 50%) 0%,
      rgb(0 0 0 / 0%) 99.99%,
      rgb(255 255 255 / 0%) 100%
    );
    border: none;
    border-radius: inherit;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    cursor: pointer;
  }

  &-dots {
    position: absolute;
    top: 128px;
    right: 10px;
    display: flex;
    flex-direction: row;
  }

  &-list {
    border-radius: inherit;
  }

  &-dots li {
    list-style: none;
  }

  &-dots li button {
    visibility: hidden;
  }

  &-dots li::before {
    position: absolute;
    width: 7.5px;
    height: 7.5px;
    border: 1px solid $mainBackground;
    border-radius: 50%;
    cursor: pointer;
    content: "";
  }

  &-dots li.slick-active::before {
    background: $mainBackground;
  }
}
