.cards {
  padding-top: 10px;

  &__container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    min-width: 320px;
    max-width: 1160px;
    margin: 0 auto;
  }

  &__card-room {
    padding-bottom: 35px;
  }
}

.card-calendar {
  padding-bottom: 40px;
}
