.cards{
  &__container{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    min-width: 1158px;
    max-width: 1158px;
    margin: 0 auto;
  }

  &__card-room{
    padding-bottom: 40px;
  }
}

.card-calendar{
  padding-bottom: 40px;
}
