ul.types
  li.types-item  
      .types-tag.types-tag_h1 H1
      .types-title.types-title_h1.types-title_width-h1 This one is the sub-section or widget title
  li.types-item  
      .types-tag.types-tag_h2 H2
      .types-title.types-title_h2.types-title_width-h2 Next one is the item title inside widgets
  li.types-item  
      .types-tag.types-tag_h3 H3
      .types-title.types-title_h3.types-title_width-h3 This is a label or CTA text
  li.types-item  
      .types-tag.types-tag_body Body
      .types-title.types-title_body.types-title_width-body This is the body text which is used for most of the design, like paragraphs, lists, etc.
      