@import "@base";
@import "@mixins";

.price-result {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 22px;
  border-bottom: 1px dotted $textColor_25;

  &__title {
    font-weight: 700;
    font-size: 19px;
    font-style: normal;
    line-height: 23px;
    border-bottom: 3px solid $mainBackground;
  }

  &__price {
    @include font-h2;

    border-bottom: 3px solid $mainBackground;
  }
}
