mixin price-result(properties = {})

  -
    const {
      title = "Итого",
      between = "",
      price = "0₽",
    } = properties

  .price-result
    .price-result__title #{title}
    .price-result__price #{price}