.price-result{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  &__title{
    font-size: 18px;
    font-weight: 700;
  }
  
  &__price{
    font-size: 18px;
    font-weight: 700;
  }
}
