@import '@base';

.search-room{
  width: 100%;
  padding-top: 28px;
  padding-bottom: 71px;

  &__container{
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    min-width: 320px;
    max-width: 1160px;
    margin: 0 auto;
  }

  &__main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 60px
  }

  &__filters{
    display: flex;
    flex-direction: column;
    width: 280px;

    &-day-of-stay{
      width: 266px;
      padding-bottom: 18px;
    }

    &-guests{
      width: 266px;
      padding-bottom: 29px;
    }
    
    &-price{
      padding-bottom: 27px;

    }

    &-rules{
      padding-bottom: 139px;
    }

    &-accessibility{
      padding-bottom: 154px;
    }

    &-facilities{
      padding-bottom: 26px;
    }

    &-additional-facilities{
      padding-bottom: 40px;
    }

  }

  &__room-cards{
    display: flex;
    flex-direction: column;

    &-title{
      padding-bottom: 16px;
    }
    &-list{
      display: flex;
      flex-wrap: wrap;
      gap: 20px 12px;
      padding-bottom: 39px;
    }
    &-pagination{
      margin: 0 auto;
      padding-right: 10px;
    }
  }
}
