@import "@base";

.search-room {
  position: relative;
  width: 100%;
  padding-top: 28px;
  padding-bottom: 71px;

  &__container {
    min-width: 320px;
    max-width: 1160px;
    margin: 0 auto;
  }

  &__main {
    display: flex;
    flex-direction: row;
    gap: 60px;
    justify-content: space-between;
  }

  &__filters {
    &-container {
      display: flex;
      flex-direction: column;
      width: 266px;
      background: $mainBackground;
    }

    &-day-of-stay {
      width: 266px;
      padding-bottom: 18px;
    }

    &-guests {
      width: 266px;
      padding-bottom: 28px;
    }

    &-price {
      width: 266px;
      padding-bottom: 27px;
    }

    &-rules {
      width: 266px;
      padding-bottom: 135px;
    }

    &-accessibility {
      width: 266px;
      padding-bottom: 154px;
    }

    &-facilities {
      width: 266px;
      padding-bottom: 21px;
    }

    &-additional-facilities {
      width: 266px;
      padding-bottom: 40px;
    }
  }

  &__room-cards {
    z-index: 5;
    display: flex;
    flex-direction: column;

    &-title {
      padding-bottom: 16px;
    }

    &-list {
      display: flex;
      flex-wrap: wrap;
      gap: 17px 12px;
      padding-bottom: 36px;
    }

    &-pagination {
      margin: 0 auto;
      padding-right: 10px;
    }
  }
}

@media (max-width: 1200px) {
  .search-room {
    padding: 0 10px;

    &__main {
      gap: 0;
    }

    &__room-cards {
      align-items: center;
      justify-content: space-between;
      padding: 0 10px;

      &-list {
        gap: 0 10px;
        justify-content: space-around;
      }
    }
  }
}
@media (max-width: 890px) {
  .search-room {
    &__filters {
      &-container {
        display: none;

        &--open {
          position: absolute;
          left: 0;
          z-index: 6;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
        }
      }

      &-button {
        position: fixed;
        top: 50%;
        left: 0;
        z-index: 10;
        width: 30px;
        height: 75px;
        background: $elementColor;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        cursor: pointer;
      }
    }
  }
}
