doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Menu
body 
  main.main
    ul.menu__ui-kit
      p UI-Kit
      a.menu__link(href="./ui-kit-colors-and-type.html") Color&Types
      a.menu__link(href="./ui-kit-form-elements.html") Form&Elements
      a.menu__link(href="./ui-kit-cards.html") Cards
      a.menu__link(href="./ui-kit-headers-footers.html") Headers&Footers
    ul.menu__site
      p Site
      a.menu__link(href="#") Firts page