extends ../../layouts/ui-kit-layout
include ../../components/image/image.pug
include ../../components/navigation/navigation.pug
include ../../components/button/button.pug
include ../../components/header/header.pug
include ../../components/footer/footer.pug

block variables
  - const pageTitle = "Headers and Footers"
  - const bodyProperties = "background: #F4F4F6"
  - const isUI = true

block content
  main.headers-footers
    .headers-footers__header-container
      .headers-footers__header-no-login
        +header({
          headerLogo: "color-logo",
          headerNavigation: {
            id: "headers-footers-login-navigation",
            direction: "row",
            linkItems: [
              { title: "О нас", boldTitle: true },
              {
                title: "Услуги", 
                hasDropdown: true,
                subLinkItems: [
                  {subTitle: "Услуги 1"},
                  {subTitle: "Услуги 2"},
                  {subTitle: "Услуги 3"},
                  {subTitle: "Услуги 4"},
                ]},
                {title: "Вакансии"},
                {title: "Новости"},
              {
                title: "Соглашения",
                hasDropdown: true,
                subLinkItems: [
                  {subTitle: "Соглашения 1"},
                  {subTitle: "Соглашения 2"},
                  {subTitle: "Соглашения 3"},
                  {subTitle: "Соглашения 4"},
                  ]
                },
            ],
          }
        })
      .headers-footers__header-logined 
        +header({
          isLogined: true,
          userName: "Юлий Цезарь",
          headerLogo: "color-logo",
          headerNavigation: {
            id: "headers-footers-login-navigation1",
            linkItems: [
              { title: "О нас", boldTitle: true },
              {
                title: "Услуги", 
                hasDropdown: true,
                subLinkItems: [
                  {subTitle: "Услуги 1"},
                  {subTitle: "Услуги 2"},
                  {subTitle: "Услуги 3"},
                  {subTitle: "Услуги 4"},
                ]},
                {title: "Вакансии"},
                {title: "Новости"},
              {
                title: "Соглашения",
                hasDropdown: true,
                subLinkItems: [
                  {subTitle: "Соглашения 1"},
                  {subTitle: "Соглашения 2"},
                  {subTitle: "Соглашения 3"},
                  {subTitle: "Соглашения 4"},
                  ]
                },
            ],
          }
        })
      .headers-footers__footer-default
        +footer({
          headerLogo: "color-logo",
          footerDescription: "Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»",
          itemListNav: {
            linkItems: [
              { title: "Навигация", boldTitle: true },
              { title: "О нас"},
              { title: "Новости"},
              { title: "Служба поддержки"},
              { title: "Услуги"},
              ]
            },
          itemListAbout: {
            linkItems: [
              { title: "о нас", boldTitle: true },
              { title: "О сервисе"},
              { title: "Наша команда"},
              { title: "Вакансии"},
              { title: "Инвесторы"},
              ]
            },
         itemListSupport: {
            linkItems: [
              { title: "Служба поддержки", boldTitle: true },
              { title: "Соглашения"},
              { title: "Сообщества"},
              { title: "Связь с нами"},
              ]
            },
          itemListSub: {
            fontColor: "75%",
            linkItems: [
              { title: "Подписка", boldTitle: true },
              { title: "Получайте специальные предложения и новости сервиса"},
              ]
            },
          socialImage1: 'twitter',
          socialImage2: 'facebook',
          socialImage3: 'instagram',
        })
      .headers-footers__footer-small
        +footer-small({
          headerLogo: "color-logo",
          socialImage1: 'twitter',
          socialImage2: 'facebook',
          socialImage3: 'instagram',
        })


        

