@import '@base';

.headers-footers{

  &__header-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 320px;
    max-width: 1158px;
    margin: 0 auto;
  }

  &__header-no-login{
    display: flex;
    justify-content: center;
    width: 100vw;
    margin-bottom: 40px;
    background: $mainBackground;
    box-shadow: $elementBoxShadow;
  }
  
  &__header-logined{
    display: flex;
    justify-content: center;
    width: 100vw;
    margin-bottom: 40px;
    background: $mainBackground;
    box-shadow: $elementBoxShadow;
  }

  &__footer-default{
    display: flex;
    justify-content: center;
    width: 100vw;
    margin-bottom: 40px;
    background: $mainBackground;
    box-shadow: $elementBoxShadow;
  }

  &__footer-small{
    padding: 100px 0 170px 0;
  }
}
