.deafult-img{
  width: auto;
  // width: inherit;
  // height: inherit;
  font-size: inherit;
  border-radius: inherit;
}
.deafult-avatar{
  width: auto;
  width: 45px;
  height: 45px;
  font-size: inherit;
  border-radius: inherit;
}