mixin text-field({type= "", placeholder= "", name= "", focused = false, dateMask = false})
  -
    const focusedClass = focused ? "text-field_focused" : "";
    const maskClass = dateMask ?  "input-date" : "";
    const inputAttributes = { 
      type: type,
      placeholder: placeholder,
      name: name,
      class: [focusedClass, maskClass]
    }

  .text-field
    input&attributes(inputAttributes).text-field__input