mixin text-field(properties = {})

  -    
    const {
      type= "", 
      placeholder= "", 
      name= "", 
      focused = false, 
      dateMask = false, 
      hasArrow = false,
      hasArrowSubscription = false,
    } = properties;

    const focusedClass = focused ? "text-field_focused" : "";
    const maskClass = dateMask ?  "mask-date" : "";
    const arrowClassModifire = hasArrow ? "text-field__arrow" : "";
    const arrowSubscriptionClassModifire = hasArrowSubscription ? "text-field__arrow-subscription" : "";
    const inputAttributes = { 
      type: type,
      placeholder: placeholder,
      name: name,
      class: [focusedClass, maskClass]
    }

  .text-field
    input.text-field__input(data-type="input")&attributes(inputAttributes)
    if hasArrow
      div(data-type="input")&attributes({class: arrowClassModifire})
        .material-icons(data-type="input") expand_less
    if hasArrowSubscription
      div(data-type="input")&attributes({class: arrowSubscriptionClassModifire})
        .material-icons(data-type="input") arrow_forward

