@import '@base';

.card-room-booking{
  max-width: 380px;
  min-width: 380px;
  min-height: 510px;
  padding: 44px 30px 31px 31px;
  margin-bottom: 40px;
  border-radius: 4px;
  font-family: montserrat, arial, sans-serif;
  color: #1f2041;
  background: #ffffff;
  box-shadow: 0 0 25px rgb(0 0 0 / 20%);

  &__number-price{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    padding-bottom: 20px;
  }

  &__date-dropdown{
    padding-bottom: 12px;
  }

  &__dropdown{
    padding-bottom: 22px;
  }

  &__price-list{
    padding-bottom: 17px;
  }
  
  &__price-result{
    padding-bottom: 20px;
  }

  &__button{
    width: 319px;
    height: 44px;
  }

}
