@import '@base';
@import '@mixins';

.item-list{
  list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 13px;

  &__item{
    @include font-body;
    color: $textColor_50;

    &--bold{
      color: $textColor;
      font-weight: 700;
    }

  }
}
